.container {
  width: 100vw;
  height: 100vh;
  display: inline-flex;
}

.earth {
  margin-left: 8vw;
  width: 50vw;
  margin-top: -14vh;
}

.description {
  color: #fff;
  font-family: "Roboto Flex";
  font-size: 20px;
  font-weight: 300;
  width: 32.5vw;
  margin-top: 18vw;
}

.description span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.description span a {
  text-decoration: none;
  color: #ffe400;
}

.description span {
  text-decoration: none;
  color: #ffe400;
}
