.container {
  width: 100vw;
  padding: 0vh 2vw;
  height: 100vh;
}

.center{
  display: table;
  margin: 0 auto;
}

.name {
  color: #fff;
  font-family: Roboto Flex;
  font-size: 100px;
  font-weight: 700;
  margin-top: 4vh;
  text-align: center;
  width: 100vw;
}

.name span {
  color: #ffe400;
}

.passion {
  color: #fff;
  font-family: Roboto Flex;
  font-size: 70px;
  font-weight: 700;
  margin-top: 4vh;
  text-align: center;
  width: 100vw;
}

.passion span {
  color: #ffe400;
}

.details {
  color: #fff;
  font-family: DM Mono;
  font-size: 22px;
  font-weight: 300;
  width: 40vw;
  margin-top: 6vh;
  text-align: center;
}

.inline {
  display: inline-flex;
}

.computer {
  display: table;
  margin: 0 auto;
  margin-top: -5vh;
  padding-left: 10vw;
  /* margin-left: 30vw; */
}