.navItem {
  color: #b7b7b7;
  font-weight: 300;
  font-size: 20px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  width: 100%;
  padding-right: 1.85vw;
  padding-bottom: 3.5vh;
  padding-top: 3.5vh;
  text-align: center;
}

.navItem:hover {
  color: #fff;
  background-color: #151515;
  border-right: 1px solid #ffe400;
  font-size: 400;
  cursor: pointer;
}

.navbar {
  list-style-type: none;
}

.manu {
  z-index: 999999999;
  width: 5vw;
  background-color: #0a0a0a;
  position: fixed;
  left: 0;
  height: 100vh;
  margin-top: -12vh;
}

.logo {
  margin-top: 5vh;
  display: table;
  margin-left: 1.15vh;
  margin-bottom: 4.5vh;
}

/* 
.navbar {
  display: inline-flex;
  list-style-type: none;
  position: fixed;
  top: 95vh;
  z-index: 999;
  background-color: #151515;
  width: 100%;
  padding-left: 75vw;
  padding-top: 1vh;
  height: 5vh;
} */
