.navItem > .active {
    color: #ffe400;
}

.navItem:hover{
    cursor: pointer;
    color: #ffe400;
}

.navItem {
  color: aliceblue;
  margin: 0em 1em;
  text-decoration: underline;
}


.navbar {
  display: inline-flex;
  list-style-type: none;
  position: fixed;
  top: 95vh;
  /* left: auto;
  right: 5vw; */
  z-index: 999;
  background-color: #151515;
  width: 100%;
  padding-left: 75vw;
  padding-top: 1vh;
  height: 5vh;
}
