/* .outer_container{
  overflow: hidden;
} */

.container {
  width: 100vw;
  height: 100vh;
  display: inline-flex;
}

.inline {
  display: inline-flex;
}

.sub_container {
  width: 100vw;
  z-index: 9;
}

.center {
  display: table;
  margin: 0 auto;
}

.title {
  color: #fff;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 70px;
  font-weight: 700;
  margin-top: 16vh;
}

.description {
  color: #fff;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 22px;
  font-weight: 300;
  width: 50vw;
  margin-top: 6vh;
  line-height: 1.5;
}

.image {
  opacity: 0.65;
  position: absolute;
  left: 65vw;
}

.aspect_logo {
  opacity: 0.65;
  position: absolute;
}

.color_link {
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-weight: 500;
  color: #8cffcd;
  margin-top: 10vh;
  width: 20vw;
  text-decoration: none;
}

.color_link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.intro_container {
  display: table;
  margin: 0 auto;
  /* margin-left: 12vw;
  margin-top: 7vw; */
  z-index: 50;
}

.intro_container_1 {
  margin-left: 4vw;
  margin-top: 11vw;
  z-index: 50;
}

.type {
  color: #8cffcd;
  font-family: "DM Mono";
  font-size: 20px;
  font-weight: 500;
}

.name {
  color: #fff;
  font-family: "Roboto Flex";
  font-size: 70px;
  font-weight: 700;
  margin-top: 3vh;
  margin-bottom: -1vh;
}

.name1 {
  color: #fff;
  font-family: "Roboto Flex";
  font-size: 60px;
  font-weight: 700;
  margin-top: 3vh;
  margin-bottom: -1vh;
}

.description_first {
  color: #fff;
  font-family: "Roboto Flex";
  font-size: 20px;
  font-weight: 400;
  width: 60vw;
  margin-top: 6vh;
  text-align: center;
  line-height: 1.4;
}

.description {
  color: #fff;
  font-family: "Roboto Flex";
  font-size: 20px;
  font-weight: 400;
  width: 36vw;
  text-align: left;
}

.description span{
  color: #8cffcd;
}

.tools {
  color: #fff;
  font-family: "Roboto Flex";
  font-size: 20px;
  font-weight: 400;
  margin-top: 5vh;
}

.tools span {
  color: #ffe400;
  font-weight: 700;
}

.source {
  color: #8cffcd;
  font-family: "Roboto Flex";
  font-size: 20px;
  font-weight: 700;
  text-decoration-line: none;
}

.source span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.aspect_demo {
  margin-top: 12vh;
  margin-left: 3vw;
}

.lift_logo {
  margin-top: 4.25vh;
  margin-left: 2vw;
}


.type_1 {
  color: #FFE400;
  font-family: "DM Mono";
  font-size: 20px;
  font-weight: 500;
}

.tools_1 {
  color: #fff;
  font-family: "Roboto Flex";
  font-size: 20px;
  font-weight: 400;
  margin-top: 5vh;
}

.tools_1 span {
  color: #BCFD4C;
  font-weight: 700;
}

.source_1 {
  color: #FFE400;
  font-family: "Roboto Flex";
  font-size: 20px;
  font-weight: 700;
  text-decoration-line: none;
}

.source_1 span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.lift_demo {
  margin-top: 6vh;
  margin-left: 5vw;
}

.device_demo{
  margin-left: 7vw;
  margin-top: 10vh;
}